#navbar {
    flex-direction: column;
    overflow: hidden;
    padding: 0.5rem 0;
    height: 80px;
}
#training .items {
    flex-direction: column;
}

#training .items .item {

    width: 100%;
}

.Courses .Course {
    flex-direction: column;
}